<div class="row">
  <div class="col-sm-8 offset-md-2">
    <app-card [title]="'Add User'" [cardOptionBlock]="true" class="col-sm-6">
      <form [formGroup]="addUserForm">

        <div class="row">
          <div class="col-sm-6">
            <label class="col-form-label">Username</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" placeholder="Please Enter Username">
              <div class="alert alert-danger"
                *ngIf="addUserForm.get('username').touched && addUserForm.get('username').invalid && addUserForm.get('username').errors.required">
                Username is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Email</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" placeholder="Please Enter Your Email">
              <div class="alert alert-danger"
                *ngIf="addUserForm.get('email').touched && addUserForm.get('email').invalid && addUserForm.get('email').errors.required">
                Email is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label class="col-form-label">Firstname</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="firstname" placeholder="Please Enter Firstname">
              <div class="alert alert-danger"
                *ngIf="addUserForm.get('firstname').touched && addUserForm.get('firstname').invalid && addUserForm.get('firstname').errors.required">
                Firstname is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Lastname</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="lastname"
                placeholder="Please Enter Your Lastname">
              <div class="alert alert-danger"
                *ngIf="addUserForm.get('lastname').touched && addUserForm.get('lastname').invalid && addUserForm.get('lastname').errors.required">
                Lastname is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label class="col-form-label">Password</label>
            <div class="form-group">
              <input type="password" class="form-control" passwordToggle formControlName="password"
                placeholder="Enter Your Password">
              <div class="alert alert-danger"
                *ngIf="addUserForm.get('password').touched && addUserForm.get('password').invalid && addUserForm.get('password').errors.required">
                Password Number is required
              </div>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary float-right" style="margin-bottom: 20px;" [disabled]="!addUserForm.valid"
        (click)="addUser()">Add User</button>
    </app-card>
  </div>
</div>

<app-card [title]="'Users'" [cardOptionBlock]="true">
  <!-- <input type="text" class="form-control" placeholder="Search User" /> -->
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th class="table-fit">#</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <td>{{i+1}}</td>
      <td>{{user?.username}}</td>
      <td>{{user?.firstname}}</td>
      <td>{{user?.lastname}}</td>
      <td>{{user?.email}}</td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</app-card>