<!-- <div class="bgimg" style="background-image: url('../../../../assets/images/auth/loginimage.jpg')"></div> -->

<section class="login p-fixed d-flex text-center bg-primary common-img-bg" style=" background-size: 100% 100%">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material">
            <div class="text-center">
              <img src="assets/images/anydoLogo.png" alt="TODO">
            </div>
            <div class="auth-box" style="opacity : 0.9">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="user.username"
                  [ngModelOptions]="{standalone: true}" placeholder="Enter Username">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="user.password"
                  [ngModelOptions]="{standalone: true}" placeholder="Enter Password" (keyup.enter)="loginUser()">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    (click)="loginUser()">Sign in</button>
                </div>
              </div>
              <hr />

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>