<div class="row">
  <div class="col-sm-8 offset-md-2">
    <app-card [title]="'Add Todo'" [cardOptionBlock]="true" class="col-sm-6">
      <form [formGroup]="addTodoForm">

        <div class="row">
          <div class="col-sm-4">
            <label class="col-form-label">Title</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="title" placeholder="Please Enter Todo Title"
                #inputForm>
              <div class="alert alert-danger"
                *ngIf="addTodoForm.get('title').touched && addTodoForm.get('title').invalid && addTodoForm.get('title').errors.required">
                Title is required
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="col-form-label">Description</label>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="description"
                placeholder="Please Enter Todo Description">
              <div class="alert alert-danger"
                *ngIf="addTodoForm.get('description').touched && addTodoForm.get('description').invalid && addTodoForm.get('description').errors.required">
                Description is required
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="col-form-label">Status</label>
            <div class="form-group">
              <select class="form-control" formControlName="status">
                <option value="pending" selected>Pending</option>
                <option value="dued">Dued</option>
                <option value="completed">Completed</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary float-right" *ngIf="!isUpdate" style="margin-bottom: 20px;"
        [disabled]="!addTodoForm.valid" (click)="addTodo()">Add Todo</button>
      <button class="btn btn-primary float-right" *ngIf="isUpdate" style="margin-bottom: 20px;"
        [disabled]="!addTodoForm.valid" (click)="addTodo()">Update Todo</button>
    </app-card>
  </div>
</div>

<app-card [title]="'Todos'" [cardOptionBlock]="true">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th class="table-fit">#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let todo of todos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <td>{{i+1}}</td>
      <td>{{todo?.title}}</td>
      <td>{{todo?.description}}</td>
      <td>{{todo?.status}}</td>
      <td>{{todo?.createdAt | date: 'dd MMMM yyyy hh:mm:ss a'}}</td>

      <td>
        <button type="button" (click)="updateTodo(todo)" class="btn btn-default btn-sm checkbox-toggle">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <button type="button" (click)="deleteTodo(todo)" class="btn btn-default btn-sm checkbox-toggle">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</app-card>